# Python 관련
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# 환경 설정 파일
.env
.vscode/

# 운영체제 파일
.DS_Store
Thumbs.db

# 가상환경
venv/
env/

# 로그 파일
*.log

# 캐시 파일
*.cache/

# 테스트 결과
htmlcov/
.coverage

# 기타 불필요 파일
*.sqlite3
